<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">	
	<title th:text="#{login.title}">Вход в личный кабинет</title>
	<link rel="stylesheet" href="resources/css/style.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.11.1/validate.min.js"></script>
	<script src="/resources/js/login.js"></script>
</head>
<body>
	<section class="container">
		<div class="login">
		  	<h1 th:text="#{login.header}">Войти в личный кабинет</h1>
			<p align="center"><a href="http://iteen.by"><img src="resources/pictures/logo.png"></a></p>
		  	<form  id="main" th:action="@{/login}" method="post">
				<div class="form-group">
					<div><p><input id="email" th:placeholder="#{login.login}" class="form-control" type="text" name="username" value="" placeholder="Email"></p></div>
					<div class="messages"></div>
				</div>
				<div class="form-group">
					<p><input id="password" th:placeholder="#{login.password}" type="password" name="password" value=""></p>
				</div>
				<div class="form-group">
					<p class="remember_me">
						<input  type="checkbox" name="remember_me" id="remember_me">
						<label for="remember_me" th:text="#{login.remember}">Запомнить меня</label>
					</p>
				</div>
				<div class="form-group">
					<p class="submit"><input th:value="#{login.button}" type="submit" name="commit"></p>
				</div>
				<!--<p class="submit"><input th:value="#{login.button}" type="submit" name="commit"></p>-->
		  	</form>
			<div class="language"><a href="?language=en_EN">English</a>  <a href="?language=ru_RU">Русcкий</a></div>
		</div>
		<div class="login-help">
			<a th:text="#{login.forgot}" href="?" >Забыли пароль?</a> <label th:text="#{login.restore}">Восстановите его!</label>
		</div>
	</section>
	<script>
        (function() {


            // These are the constraints used to validate the form
            var constraints = {
                username: {
                    // Email is required
                    presence: true,
                    // and must be an email (duh)
                    email: true
                }
            };

            // Hook up the form so we can prevent it from being posted
            var form = document.querySelector("form#main");
            form.addEventListener("submit", function(ev) {
                ev.preventDefault();
                handleFormSubmit(form);
            });

            // Hook up the inputs to validate on the fly
            var inputs = document.querySelectorAll("input")
            for (var i = 0; i < inputs.length; ++i) {
                inputs.item(i).addEventListener("change", function(ev) {
                    var errors = validate(form, constraints) || {};
                    showErrorsForInput(this, errors[this.name])
                });
            }

            function handleFormSubmit(form, input) {
                if (document.getElementById("email").value === "admin" && document.getElementById("password").value === "admin") {
                    showSuccess();
                    return;
				}
                // validate the form aainst the constraints
                var errors = validate(form, constraints);
                // then we update the form to reflect the results
                showErrors(form, errors || {});
                if (!errors) {
                    showSuccess();
                }
            }

            // Updates the inputs with the validation errors
            function showErrors(form, errors) {
                // We loop through all the inputs and show the errors for that input
                _.each(form.querySelectorAll("input[name]"), function(input) {
                    // Since the errors can be null if no errors were found we need to handle
                    // that
                    showErrorsForInput(input, errors && errors[input.name]);
                });
            }

            // Shows the errors for a specific input
            function showErrorsForInput(input, errors) {
                // This is the root of the input
                var formGroup = closestParent(input.parentNode, "form-group")
                    // Find where the error messages will be insert into
                    , messages = formGroup.querySelector(".messages");
                // First we remove any old messages and resets the classes
                resetFormGroup(formGroup);
                // If we have errors
                if (errors) {
                    // we first mark the group has having errors
                    formGroup.classList.add("has-error");
                    // then we append all the errors
                    _.each(errors, function(error) {
                        addError(messages, error);
                    });
                } else {
                    // otherwise we simply mark it as success
                    formGroup.classList.add("has-success");
                }
            }

            // Recusively finds the closest parent that has the specified class
            function closestParent(child, className) {
                if (!child || child == document) {
                    return null;
                }
                if (child.classList.contains(className)) {
                    return child;
                } else {
                    return closestParent(child.parentNode, className);
                }
            }

            function resetFormGroup(formGroup) {
                // Remove the success and error classes
                formGroup.classList.remove("has-error");
                formGroup.classList.remove("has-success");
                // and remove any old messages
                _.each(formGroup.querySelectorAll(".help-block.error"), function(el) {
                    el.parentNode.removeChild(el);
                });
            }

            // Adds the specified error with the following markup
            // <p class="help-block error">[message]</p>
            function addError(messages, error) {
                var block = document.createElement("p");
                block.classList.add("help-block");
                block.classList.add("error");
                block.innerText = error;
                messages.appendChild(block);
            }

            function showSuccess() {
                // We made it \:D/
                document.getElementById("main").submit();
            }
        })();
	</script>
</body>
</html>